<p class="post-date text-bold">
  {% if page.author %}
    <span class="text-upcase">{{ page.author }}</span> / 
  {% endif %}
  {% if page.date %}
    <span class="text-upcase">{{ page.date | date: site.theme_config.date_format }}</span>
  {% endif %}

{% if site.theme_config.show_reading_time == true %}
  <span class="post-reading-time" data-post-reading-time data-post-body-reader>
    <span data-post-reading-text>计算中…</span>
    <span data-post-reading-count></span>
  </span>
{% endif %}
</p>

{% if site.theme_config.show_tags == true %}
  <div class="">
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
{% endif %}

